---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Marcas com quais trabalhamos
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/ppa.png" width="200" height="150" alt="ppa" class="h-10 sm:h-28 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/pescinin.png" width="200" height="150" alt="pescinin" class="h-10 sm:h-28 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/Intelbras.png" width="200" height="150" alt="intelbras" class="h-10 sm:h-28 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/garen.png" width="200" height="150" alt="garen" class="h-10 sm:h-28 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="/logos/rossi.png" width="200" height="150" alt="rossi" class="h-10 sm:h-28 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105">
            </div>
          
        </div>
    </Container>
</section>