---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
---

<section id="services">
  <Container className="space-y-10 md:sapce-y-12">
    <div class="text-center max-w-3xl mx-auto space-y-4">
      <Title>Serviços</Title>
      <Paragraph>Instalações e vendas</Paragraph>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      <Service
        imgLink="https://kiper.com.br/wp-content/uploads/kiper-manutencao-preventiva-em-portoes-automaticos.jpg"
        title="Automação de portões"
        description="Especialização em instalação sistemas modernos, motores de alta performance, controles remotos inovadores, integração inteligente."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://www.andoservicos.com.br/images/155c8c39d2729cbc7100c30b784704e1.jpg"
        title="Instalação de interfones"
        description="Nossa equipe especializada implementa sistemas modernos, garantindo comunicação eficiente e segura!"
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://habitacional.com.br/wp-content/uploads/2019/09/camera-seguranca.jpg"
        title="Instalação de câmeras"
        description="Nossa equipe especializada implementa sistemas de vigilância modernos, proporcionando monitoramento eficaz. "
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://vigyr.com/wp-content/uploads/2020/04/gym-security-access-tags-550x350.jpg"
        title="Instalação de tags"
        description="Instalação de tags para controle de acesso, oferecemos soluções personalizadas para residências, empresas e condomínios. Nossa equipe especializada implementa sistemas avançados, proporcionando segurança e praticidade."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://www.camerascftv.com.br/wp-content/gallery-bank/gallery-uploads/o_1fde5jm54qu7krg1lr4uv1cd812.png"
        title="Manutenção"
        description="Nossa equipe especializada oferece manutenção de sistemas de controle de acesso, interfones, motores de portões automáticos, controles e muito mais!"
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://img.freepik.com/free-vector/video-surveillance-security-cameras-realistic-composition-black-white-cameras-form-circle-illustration_1284-61014.jpg"
        title="Controle de acesso CRTV"
        description="Sistemas essenciais para qualquer empreendimento. Eles servem para controlar e registrar a entrada e saída de pessoas e mercadorias. Unidos ao trabalho dos vigilantes, porteiros e recepcionistas, garantem um nível de segurança adequado ao empreendimento."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.91 11.672a.375.375 0 010 .656l-5.603 3.113a.375.375 0 01-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://natalseguranca.com.br/wp-content/uploads/2022/07/Concertina-Natal-Seguranca.jpg"
        title="Cercas elétricas"
        description="Uma barreira que usa o choque elétrico impedir animais ou pessoas de atravessarem um limite. A intensidade da corrente elétrica poderá provocar efeitos que podem ir do desconforto até à dor ou mesmo a morte."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://www.estadao.com.br/recomenda/wp-content/uploads/2023/06/fechadura_digital_de_sobrepor_intelbras_fd_1000_3661_1_c322584f812bc016f79eaf2f0464ed5e.webp"
        title="Fechaduras eletrônicas"
        description="Cadastre no teclado touch screen até 4 senhas, de 4 a 12 dígitos, e tenha o controle sobre quem entra ou sai do ambiente."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
            ></path>
          </svg>
        </span>
      </Service>
      <Service
        imgLink="https://www.jcs.com.br/imagens/informacoes/controle-acesso-fechadura-biometrica-08.jpg"
        title="Fechaduras interface"
        description="Fechaduras com reconhecimento facial. Oferencendo segurança, comodidade e confiabilidade no processo de controle de acessos."
      >
        <span slot="icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33"
            ></path>
          </svg>
        </span>
      </Service>
    </div>
  </Container>
</section>
