---
import Layout from "../layouts/Layout.astro";
import Container from "../components/shared/Container.astro";
import TableQuote from "../components/table_quote/table_quote.jsx";

---

<Layout title="Bem vindo a GRA">

    <Container>
      <div class="grid justify-start mt-[150px] ">
        <TableQuote client:load />
      </div>
    </Container>

</Layout>
